.obsidian/app.json
.obsidian/appearance.json
.obsidian/community-plugins.json
.obsidian/core-plugins.json
.obsidian/core-plugins-migration.json
.obsidian/graph.json
.obsidian/templates.json
.obsidian/workspace.json
.obsidian/plugins/card-board/data.json
.obsidian/plugins/card-board/main.js
.obsidian/plugins/card-board/manifest.json
.obsidian/plugins/card-board/styles.css
.obsidian/plugins/obsidian-pretty-bibtex/main.js
.obsidian/plugins/obsidian-pretty-bibtex/manifest.json
.obsidian/plugins/obsidian-pretty-bibtex/styles.css
.obsidian/plugins/obsidian-tasks-plugin/main.js
.obsidian/plugins/obsidian-tasks-plugin/manifest.json
.obsidian/plugins/obsidian-tasks-plugin/styles.css
.obsidian/plugins/periodic-notes/data.json
.obsidian/plugins/periodic-notes/main.js
.obsidian/plugins/periodic-notes/manifest.json
.obsidian/plugins/periodic-notes/styles.css
.obsidian/plugins/templater-obsidian/data.json
.obsidian/plugins/templater-obsidian/main.js
.obsidian/plugins/templater-obsidian/manifest.json
.obsidian/plugins/templater-obsidian/styles.css
templater/
Notes/
Guides/
